body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#pomodoro-app {
  text-align: center;
}

#timer {
  font-size: 3em;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #747474;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 150ms ease;
}

button:hover {
  background-color: #696969;
  scale: 1.35;
}

.dark-mode {
  display : flex;
  position: inherit;
  position: bottom;
  background: #222;
  color: #eee;
  transition: 300ms ease-in;
}

.dark-mode::before{
  background-color: #f4f4f4;
}

.dark-mode::after{
  opacity: 0.5;
  background: #222;
  color: #eee;
}

.light-mode {
  background: #eee;
  color: #222;
  transition: 300ms ease-in;
}

.light-mode::before{
  background-color: #222;
}

.light-mode::after{
  opacity: 0.5;
  background: #eee;
  color: #222;
}

