body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#pomodoro-app {
  text-align: center;
}

#timer {
  font-size: 3em;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #747474;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #696969;
}

.dark-mode {
  background: #222;
  color: #eee;
}
